{% extends 'AppBundle::main.html.twig' %}

{% block title %}Player page!!!{% endblock %}

    {% block content %}
        <div class="baner">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <h2 id="title">Welcome to the Home Page</h2>
            <ul>
                <li><a href="command">Command Page</a></li>
                <li><a href="player">Player Page</a></li>
                <li><a href="trainer">Trainer Page</a></li>
                <li><a href="country">Country Page</a></li>
            </ul>
        </div>

    {% endblock content %}


